<!DOCTYPE html>
<html>
<head>
    <title>Moja Checklista</title>
</head>
<body>
    <h1>Moja lista zadań</h1>
    <h2>Dodaj nowe zdanie</h2>
    <form method="POST">
         {% csrf_token %}
         <input type="text" name="tresc" placeholder="Wpisz zadanie..." required>
         <button type="submit">Dodaj</button>
    </form>
    <ul>
        {% for zad in zadania%}
        <li>
            {% if zad.zrobione %}
                ✅ <s>{{ zad.tresc }}</s>
            {% else %}
                ⬜ {{ zad.tresc }}
            {% endif %}
            <a href="{% url 'zmien_status' zad.id %}">[Zmień]</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>